#pay{
	margin-top: 90px;
	height: auto;
	margin-bottom:50px;
}
 #pay .rows{
	background: #ddd;
	box-shadow: 5px 5px 5px #333;
	padding-bottom: 30px;
} 
.div_main .main_3{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
	text-transform: capitalize;
}
.div_main .dot{
	width: 100px;
	height: 4px;
	background: #ff9600;
	margin-left: 47%;
	margin-top: 30px;
	margin-bottom: 30px;
}
label {
  margin-bottom: 10px;
  display: block;
  margin-top: 10px;
}
.icon-container{
  padding: 7px 0;
  font-size: 24px;
  padding-bottom:0;
  margin-left:25px;
  padding-top: 5px;
}
#label_pay{
	padding-left:15px;
}
 .pay_but{
 background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 20px;
  opacity: 0.6;
  transition: 0.3s;
  text-transform: uppercase;
	margin-top: 30px;
 }
 .pay_but:hover{
 	opacity: 1;
 	background: red;
 }